@model NBCZ.Model.Pub_Role
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    @Styles.Render("~/fsLayui/css")
    @Scripts.Render("~/fsLayui/js")
    @Scripts.Render(new string[] { "~/fsLayui/plugins/frame/js/frame.js" })
</head>
<body>
    <div class="layui-fluid">
        <form class="layui-form" isload="1" isurlparamrender="0">
            <div class="layui-form-item">
                <label class="layui-form-label">角色名：</label>
                <div class="layui-input-block">
                    <input type="text" name="RoleName" value="@Model.RoleName" required="" lay-verify="required" placeholder="请输入角色名" class="layui-input" />
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注：</label>
                <div class="layui-input-block">
                    <textarea name="Remark" placeholder="请输入备注" value="" class="layui-textarea" maxlength="100">@Model.Remark</textarea>
                </div>
            </div>
            <hr />
            <div class="layui-form-item">
                <div class="layui-input-block">
                    @*topredirecturl="@Url.ActionAdmin("Index", new { selectNode = ViewBag.parentCode })"*@
                    <button class="layui-btn" lay-submit="" method="post" url="@Url.ActionAdmin("Edit")">编辑</button>
                    <button type="button" class="layui-btn layui-btn-primary" function="close">关闭</button>
                </div>
            </div>
            @Html.HiddenFor(p=>p.Id)
            @Html.HiddenFor(p=>p.RoleCode)
        </form>
    </div>

</body>
</html>

